.navbar {
  margin-bottom: 0px !important;
}
.navbar .logo-img {
  height: 60px;
}
.navbar .nav-wrapper .menu-icon {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 0 auto;
  display: block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 99;
}
.navbar .nav-wrapper .menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.navbar .nav-wrapper .menu-icon span:nth-child(1) {
  top: 0;
}
.navbar .nav-wrapper .menu-icon span:nth-child(2) {
  top: 9px;
}
.navbar .nav-wrapper .menu-icon span:nth-child(3) {
  top: 18px;
}
.navbar .nav-wrapper .nav .navbar-nav {
  margin: 0;
}
.navbar .nav-wrapper .nav .menu-item {
  margin: 0 12px;
}
.navbar .nav-wrapper .nav .menu-item a {
  font-size: 16px;
  color: #230b4e;
  padding: 20px 0;
  position: relative;
}
.navbar .nav-wrapper .nav .menu-item a .icon-expand-more:before {
  content: "\e920";
  font-size: 22px;
  position: absolute;
}
.navbar .nav-wrapper .nav .menu-item a:hover {
  background: transparent;
  /* color: #f01887; */
  color: #f01847;
}
.navbar .nav-wrapper .nav .menu-item a:hover:after {
  width: 100%;
}
.navbar .hasmenu .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 150px;
  list-style: none;
  padding: 9px;
  z-index: 9999;
  background: #fff;
  display: none;
}
.navbar .hasmenu .sub-menu a {
  padding: 0px !important;
}
.navbar .hasmenu .sub-menu:after {
  height: 0px !important;
}
.navbar .hasmenu:hover .sub-menu {
  display: block;
}
@media screen and (max-width: 767px) {
  .navbar .container {
    max-width: unset;
  }
  .navbar .nav-wrapper .nav {
    position: absolute;
    z-index: 80;
    right: -110%;
    top: 10px;
    background: #fff;
    width: 94%;
    max-width: 281px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    height: 100vh;
  }
  .navbar .nav-wrapper.in .nav {
    right: 0;
  }
  .navbar .nav-wrapper.in .menu-icon span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .navbar .nav-wrapper.in .menu-icon span:nth-child(2) {
    opacity: 0;
    left: -30px;
  }
  .navbar .nav-wrapper.in .menu-icon span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
.sticky-head {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  background: #fff;
}
.sub-menu {
  z-index: 50;
  left: -20px;
  top: 49px;
  min-width: 200px;
  margin: 0 auto;
  max-height: 0;
  display: none;
}
.sub-menu {
  position: absolute;
  top: 45px;
  padding: 0;
  left: 0;
  box-shadow: -1px 13px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767px) {
  .sub-menu {
    box-shadow: unset;
  }
}
.menu-item-has-children:hover > .sub-menu {
  display: block;
  z-index: 50;
  max-height: 100vh;
}
.sub-menu li {
  list-style-type: none;
  padding: 10px 20px 10px 20px;
  position: relative;
  background: #fff;
}
.sub-menu > li > a:hover {
  color: #f01847 !important;
}
.sub-menu li:first-child {
  padding-top: 13px;
  margin-top: 10px;
}
.menu-item-has-children .down-caret {
  font-size: 18px;
  position: absolute;
  right: 5px;
  z-index: 9;
}
i.font-size {
  font-size: 30px;
  line-height: 52px;
}
.adding-overly {
  position: absolute;
  background: #161616d1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
#return-to-top {
  position: fixed;
  bottom: 12px;
  right: 2px;
  background: #ebecee;
  width: 40px;
  height: 40px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999999;
  padding: 10px;
}
#return-to-top i {
  color: #000;
  margin-top: -3px;
  margin-left: -2px;
  font-size: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  transform: rotate(270deg);
}
#return-to-top:hover {
  background: #021d3a;
}
#return-to-top:hover i {
  color: #fff;
}

.home_banner {
  background: url(./images/APEC_Library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_banner .section_content {
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.home_banner .section_content p,
.home_banner .section_content h2 {
  margin: 0;
}
.home_banner .section_content .heading {
  /* color: #f01847; */
  /* color: #ac238e; */
}
.home_banner .section_content .present {
  position: relative;
  margin: 20px auto;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 8px gray;
  /* font-weight: ; */
}
.home_banner .section_content .present::before,
.home_banner .section_content .present::after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 42%;
  top: 50%;
}
.home_banner .section_content .present::before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(106, 106, 106, 0.45) 0%,
    rgba(172, 172, 172, 0.5228292) 50%,
    rgba(240, 240, 240, 0.45000007) 100%
  );
}
.home_banner .section_content .present::after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(240, 240, 240, 0.45000007) 0%,
    rgba(172, 172, 172, 0.5228292) 50%,
    rgba(106, 106, 106, 0.45) 100%
  );
}
@media screen and (max-width: 767px) {
  .home_banner {
    padding: 5rem 0;
  }
  .home_banner .section_content {
    width: 100%;
    max-width: 90%;
  }
  .home_banner .section_content .present {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    width: 100%;
  }
  .home_banner .section_content .present::before,
  .home_banner .section_content .present::after {
    width: 37%;
  }
}

.about_athe .section_content {
  align-items: center;
}
.about_athe .section_content img {
  width: 100%;
  margin-bottom: 25px;
}
.about_athe .section_content .heading {
  margin-bottom: 20px;
}
/* ____                          _ _/* _____                 _
| ____|_   _____ _ __ | |_ ___
|  _| \ \ / / _ \ '_ \| __/ __|
| |___ \ V /  __/ | | | |_\__ \
|_____| \_/ \___|_| |_|\__|___/ */

.card_12 {
  background: url(https://t3.ftcdn.net/jpg/03/22/30/46/360_F_322304683_7ysRarFkmy2osfPKTOYQv7qTPofKelfb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.5s ease;
}
.card_12 .section-subtitle {
  font-size: 2opx;
}
.card_12 .card-inner {
  background: #fff;
  padding: 12px;
  border-radius: 20px;
  margin: 0 4px;
  transition: background 0.5s ease;
}
@media screen and (min-width: 992px) {
  .card_12 .card-inner {
    padding-right: 8%;
    margin: 0 4px;
  }
}
.card_12 .card-inner:hover {
  background: #f01847;
}
.card_12 .card-inner:hover .dfd {
  border-radius: 50%;
  padding: 4px;
  background: #fff;
}
.card_12 .card-inner:hover .ds {
  color: #fff;
}
.card_12 .dfd {
  background: #f01847;
  border-radius: 50%;
}
.card_12 .card_link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card_12 .banner-slider-prev {
  position: absolute;
  top: 50%;
  left: -50px;
}
.card_12 .banner-slider-next {
  position: absolute;
  top: 50%;
  right: -50px;
}
.card_12 .icon-arrow-banner {
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 50%;
  color: #fff;
}
.card_12 .swiper-container-horizontal > .swiper-pagination-bullets,
.card_12 .swiper-pagination-custom,
.card_12 .swiper-pagination-fraction {
  bottom: 24%;
  left: 9%;
  width: 100%;
}
.card_12 .home-banner-pagination {
  position: relative !important;
  top: 22px;
}
.card_12 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #eee;
  margin-left: 10px;
}
.card_12 .slider-controls {
  bottom: 50%;
  left: 0;
}
.swiper-slide {
  display: flex;
  flex-wrap: wrap;
}
.book_seats .section_content {
  background: url(https://t3.ftcdn.net/jpg/03/22/30/46/360_F_322304683_7ysRarFkmy2osfPKTOYQv7qTPofKelfb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
}
.book_seats .section_content .heading,
.book_seats .section_content .sub-heading {
  margin: 0;
}
.book_seats .section_content .book_now_btn {
  border-radius: 26px;
  background: #f01847;
  margin: 0 5px;
}
/* _
 / ___|___  _ __ ___  _ __ ___ (_) |_| |_ ___  ___
| |   / _ \| '_ ` _ \| '_ ` _ \| | __| __/ _ \/ _ \
| |__| (_) | | | | | | | | | | | | |_| ||  __/  __/
 \____\___/|_| |_| |_|_| |_| |_|_|\__|\__\___|\___| */
*/ .team .card {
  /* transition: all 0.2s ease; */
  transition: all 0.5s ease;
}
.team .card img {
  border-radius: 50%;
  border: 5px solid #f2f2f2;
  padding: 6px;
  transition: all 0.5s ease;
}
.team .card:hover img {
  border: 5px solid #f01847;
}
.team .card:hover .ccc gray {
  transform: scale(1.1);
}
.team .description-sec {
  width: 65%;
  margin: auto;
}
@media screen and (max-width: 575px) {
  .team .description-sec {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .team .mob-align {
    text-align: -webkit-center;
  }
}
.team .anchor-absolute {
  position: absolute;
  left: 0;
  right: 26px;
  bottom: 18px;
  z-index: 10;
}
@media screen and (max-width: 575px) {
  .team .anchor-absolute {
    left: 0;
    right: 0;
    bottom: 32px;
  }
}

/* _____           _   _
|  ___|__   ___ | |_| |_ ___ _ __
| |_ / _ \ / _ \| __| __/ _ \ '__|
|  _| (_) | (_) | |_| ||  __/ |
|_|  \___/ \___/ \__|\__\___|_| */
.footer_10 {
  background: #050630;
}
.footer_10 p,
.footer_10 a {
  color: #707070;
  font-size: 0.9rem;
}
.footer_10 hr {
  border: none;
  border-top: 1px solid #3e3e3e6e;
}
.footer_10 .social_icon {
  margin: 0 5px;
  border-radius: 50px;
}
.footer_10 .social_icon:hover {
  /* background: #f01887; */
  background: #f01847;
}
.schedule .tab_links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.schedule .tab_links .tab_link {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 3px solid #f2f2f2;
  padding-bottom: 0;
}
.schedule .tab_links .tab_link p {
  margin-bottom: 10px;
}
.schedule .tab_link.active {
  border-bottom: 3px solid #f01847;
}
.schedule .tab_link.active a {
  color: #f01847;
}
.schedule .tabs {
  padding-top: 3rem;
}
.schedule .lists {
  list-style: none;
}
.schedule .lists .list_title {
  color: #f01847;
}
.schedule .lists .list_content {
  color: #606374;
}

.adhi {
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 2px 2px 8px gray;
  /* color: #160480; */
  /* font-weight: bolder; */
}
.space {
  padding: 8rem 0 0 0;
}

html{
  scroll-behavior: smooth;
}